<div class="sleek-design bgc">
    <header>
        <nav class="navbar navbar-light main-navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/company_logo.svg" alt="Company Logo" 
                         class="company_logo_nav animate-logo">
                </a>
            </div>
        </nav>
    </header>
    <main class="container-fluid ">
        <h1 class="visually-hidden">Manager Login</h1>
        <section class="row vh-100 d-flex align-items-center justify-content-center bg">
            <div class="col-md-10">
                <div class="row p-4 fixed-top main-header">
                    <img src="assets/company_logo.svg" alt="Company Logo" 
                         class="company_logo mx-auto logo-main" width="45em" height="45em">
                </div>
                <div class="row glass-container p-5">
                    <div class="col-md-6 d-flex align-items-center flex-column btn-group-vertical role-selector">
                        <a class="w-100 text-center">
                            <button type="button" class="btn role-btn m-2 btn-lg" (click)="toEmployee()">Employee</button>
                        </a>
                        <a class="w-100 text-center">
                            <button type="button" class="btn role-btn m-2 btn-lg active">Manager</button>
                        </a>
                        <a class="w-100 text-center">
                            <button type="button" class="btn role-btn m-2 btn-lg" (click)="toAdmin()">Admin</button>
                        </a>
                    </div>
                    <div class="col-md-6 border-start ps-5 d-flex align-items-center login-section">
                        <div class="login-container w-100">
                            <form class="login-form"  [formGroup]="loginForm" (ngSubmit)="login()" > 
                                <h2 class="text-center mb-4 welcome-text">Welcome Back!</h2>
                                <div class="floating-label form-group">
                                    <input type="text" id="username" name="username" 
                                           placeholder=" " class="form-control"  required  formControlName="username" />
                                    <label for="username" class="username-label">Username</label>
                                    <div class="text-danger mt-1" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                                        Username is required.
                                    </div>
                                </div>
                                <div class="floating-label mt-4 form-group">
                                     <input type="password" id="password" name="password" 
                                           placeholder=" " class="form-control" required  formControlName="password"/>
                                    <label for="password" class="password-label">Password</label>
                                    <div class="text-danger mt-1" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                                        Password is required.
                                    </div>
                                </div>
                                <div class="text-danger mt-3" *ngIf="loginError">
                                    Incorrect username or password.
                                </div>
                                <button type="submit" class="btn btn-submit mt-4 w-100">
                                    <span class="button-text">Sign In</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>